PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bizbazar
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# Autenticación
JWT_SECRET=tu_secreto_super_seguro_aqui

# Cloudinary (Para subir imágenes)
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui

# Google Cloud & BigQuery (Benchmarking Mission)
GOOGLE_PROJECT_ID=tu_proyecto_id_google
GOOGLE_CLIENT_ID=tu_client_id_oauth.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret_oauth
GOOGLE_REDIRECT_URI=http://localhost:3001/api/benchmark/auth/google/callback

BIGQUERY_DATASET_ID=almacen_central
BIGQUERY_TABLE_ID=benchmarking_metrics
TEAM_PROJECT_ID=equipo_bizbazar_7
WAREHOUSE_ID=7
