PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bizbazar
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# Autenticación
JWT_SECRET=tu_secreto_super_seguro_aqui

# Cloudinary (Para subir imágenes)
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui
